<footer>

        <p>
                &copy;{{ 'now'|date('Y') }} {{ setting_value('streams::name', config_get('streams::distribution.name')) }}.
        </p>
        <p>
                <small>
                        This theme was created by William Åström of the
                        <a href="https://pixney.com">Swedish Digital Agency Pixney AB.</a>
                </small>
        </p>
</footer>