<header>
    <div class="container">
        <div class="row">
            <div class="col-4">
                <svg class="a-logo">
                    <use xlink:href="#logo" />
                </svg>
            </div>
            <div class="col-8 d-flex justify-content-end">
                <button type="button" id="my-button" class="a-menubutton">
                    <svg class="a-menubutton__svg">
                        <use xlink:href="#menu" />
                    </svg>
                </button>
            </div>
        </div>
    </div>
</header>